# URL for the WIMS .tgz file from: https://sourcesup.renater.fr/frs/?group_id=379.
# Copy the whole URL. Do not change only the wims version name from previous URL.
# The whole URL is different from version to version.
WIMS_URL=https://sourcesup.renater.fr/frs/download.php/file/6702/wims-4.28.tgz
WIMS_VERSION=4.28

WIMS_IMAGE_NAME=amatogianluca/wims:${WIMS_VERSION}
container_name=wims-4-28

TZ=UTC
WIMS_PASS=1234
MANAGER_SITE=auto
